.btn, button{
  background: $primary;
  color: white;
  padding: 1rem 2rem;
  padding-top: 1.5rem;
  @include card(1);
  font-size: 2em;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
  display: inline-block;
  font-weight: 900;
  font-family: 'Ocean Six';
  line-height: 2;
  margin-top: 1rem;
  &.__small{
    font-size: 1.6em;
    padding: 0.75rem 1.5rem;
    padding-top: 1.25rem;
  }
  &:hover{
    @include card(2);
  }
}

@include bp(max, $smallBP){
  .btn, button{
    font-size: 1.1em;
    letter-spacing: 1.1px;
  }
}

@include bp(max, $xsmallBP){
  .btn, button{
    width: 100% !important;
  }
}
