/* Enter and leave animations can use different */
/* durations and timing functions.              */
.fade-enter-active, .fade-leave-active {
  transition: all .3s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.slideDown-enter-active{
  animation: slideDown 0.3s ease-in-out both;
}

.slideDown-leave-active{
  animation: slideDown 0.3s ease-in-out both reverse;
}
