header#super{
  background: white;
  width: 100%;
  border-bottom: 2px solid #f2f2f2;
  .columns{
    .column{
      flex-grow: 2;
      &:first-child{
        width: auto;
        flex-grow: 1;
      }
    }
  }
  #desktop, #mobile{
    #logo{
      padding: 1rem 0;
    }
  }
  #desktop{
    nav{
      ul{
        list-style: none;
        text-align: right;
        padding: 0;
        margin: 0;
        li{
          display: inline-block;
          padding: 2rem 0.5rem;
          font-size: 20px;
          cursor: pointer;
          transition: color 0.3s ease;
          font-weight: 600;
          color: $secundary;
          &:hover{
            color: $primary;
          }
        }
      }
    }
  }
  #mobile{
    display: none;
    .bm-menu{
      background: white;
    }
    .bm-burger-button{
      z-index: 6;
      .bm-burger-bars{
        background-color: $primary;
        &.line-style{
          border-radius: 0.25rem;
        }
      }
    }
    .bm-cross{
      background: $primary;
    }
    span, a{
      display: block;
      color: $primary;
      font-weight: 600;
    }
  }
  #logo{
    width: 200px;
    height: 5rem;
    svg{
      height: 100%;
      #Path_545, #Path_546, #Path_547{
        fill: $secundary;
      }
    }
  }
}
@include bp(max, $mediumBP){
  header#super{
    background: white;
    .wrapper{
      padding: 0;
    }
    #desktop{
      display: none;
    }
    #mobile{
      .columns{
        .column{
          margin-bottom: 0;
        }
      }
      #logo{
        margin-left: 1rem;
      }
      display: block;
    }
  }
}
