.page#home{
  section.homeSec{
    &#hero{
      .blur{
        background-image: url('/img/backgrounds/hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .sweet-content-content{
        height: 400px;
      }
      h1{
        font-size: 4em;
        color: white;
      }
      .wrapper{
      }
      button{
        margin-top: 1rem;
        font-size: 1.6em;
      }
			#play{
				background: none;
				box-shadow: none;
				padding: 0;
				margin: 0;
			}
      .sweet-modal{
        width: 800px;
        max-width: none;
      }
    }
    &#tours{
      color: $secundary;
      h5{
        font-family: 'Product Sans Bold';
      }
      .wrapper{
        width: 100%;
      }
      .content{
        height: 330px;
        text-align: left;
        .columns{
          .column{
            padding: 0 0.5rem;
            &:first-child{
              width: 35%;
            }
            img{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@include bp(max, 800px){
  .page#home{
    section.homeSec{
      &#hero{
        .sweet-modal{
          width: 100%;
        }
      }
    }
  }
}

@include bp(max, $smallBP){
  .page#home{
    section.homeSec{
      &#tours{
        .content{
          height: 550px;
          .columns{
            width: calc(100% - 2rem);
            .column{
              padding: 0;
              &:first-child{
                width: 100%;
              }
            }
          }
          p{
            margin-left: 0;
            width: 100%;
          }
        }
      }
    }
  }
}
