.page{
  section{
    min-height: 670px;
    color: white;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1, h2{
      width: 100%;
      text-align: center;
    }
    &.__small{
      min-height: 400px;
    }
  }
}
.wrapper{
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.columns{
  display: flex;
  .column{
    width: 50%;
  }
}

@include bp(max, $mediumBP){
  .columns{
    flex-direction: column;
    .column{
      padding: 0;
      width: 100%;
      &:not(:last-child){
        margin-bottom: 1rem;
      }
    }
  }
}
