.page{
  min-height: calc(100vh - 120px);
  section{
    position: relative;
    min-height: 670px;
    color: white;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1, h2{
      width: 100%;
      text-align: center;
    }
    p{
      font-size: 1.5em;
      max-width: 600px;
      margin: 0 auto;
    }
    &.__small{
      min-height: 400px;
    }
    .blur{
      @include size(100%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      // filter: blur(2px) brightness(0.9);
    }
    .wrapper{
      position: inherit;
      z-index: 3;
    }
  }
}
.wrapper{
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.columns{
  display: flex;
  .column{
    width: 50%;
  }
}

@include bp(max, $mediumBP){
  .columns{
    flex-direction: column;
    .column{
      padding: 0;
      width: 100%;
      &:not(:last-child){
        margin-bottom: 1rem;
      }
    }
  }
}
